.container{
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    height: 100vh

}
.total{
    
    margin: 10px;
}
.checkout{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(223, 236, 148);
    cursor: pointer;
    padding: 3px 50px;
    margin: 5px;
    font-size: 20px;
   

}

.checkout:hover{
    background-color: rgb(168, 158, 146);

}
.clear {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(223, 236, 148);
    cursor: pointer;
    padding: 3px 50px;
    margin: 5px;
    font-size: 20px;
    
}
.clear:hover{
    background-color: rgb(168, 158, 146);

}

.backProduct{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 40px;
    border-radius: 15px;
    font-size: 15px;
    cursor:pointer;
    font-weight: bolder;
    color: rgb(101, 76, 76);
    margin: 20px;

}

.backProduct:hover{
    background-color: beige;

}