.itemDetailContiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    height: 100vh;
}

.loading{
    font-size: 30px;
    text-align: center;
    height: 100vh
}