.imgCarrito{
    width: 30px;
    
}

.botonCarrito{
    display:flex;
    justify-content: center;
     
    padding: 5px;
    background-color: rgb(202, 127, 197);
    text-decoration: none;
    border-radius: 75%;
    
    cursor: pointer;
}

.botonCarrito:hover{
    background-color: rgb(222, 159, 100);    
}

.contCarrito{
    margin: 0px 5px;
    font-weight: bolder;
    color: rgb(210, 25, 25);
}

.cantidadCarrito{
    align-items: center;
    font-size: 2vh;
    padding: 2px;
    font-weight: bold;
    color: rgb(224, 35, 35)

    
}