.Navbar {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(103, 68, 62);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    
}
.Botones{
    padding: 20px,
    
    
}

.Boton{
    background-color: rgb(145, 154, 123);
    display: inline-flex;
    align-items: center;
    margin: 0 10vh;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(72, 11, 11);
    
}

.Boton:hover{
    background-color: bisque;
    font-weight: bold;
    color: rgb(89, 11, 11);
}

.logo{
    cursor: pointer;
    text-decoration: none;
    color: rgb(53, 37, 37);
    font-weight: bolder;
    padding: 10px;


}